<!DOCTYPE html>
<html>

<head>
    <title>PyLine!</title>
    <link href="{{ url_for('static', filename='styles/pygments/monokai.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='styles/main.css') }}" rel="stylesheet" type="text/css" />
    <script src="{{ url_for('static', filename='scripts/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/interpreter.js') }}"></script>
</head>

<body>
    <div id="python">
        <h1 id="title">PyLine!</h1>
        <div id="pyterprete" class="highlight">
            <div id="output"></div>
            <label for="interprete"><pre class="o" id="prefix">&gt;&gt;&gt; </pre></label>
            <input type="text" id="interprete">
        </div>
        <div id="help">
            <h2>Custom command</h2>
            <ul>
                <li>source: show the source of PyLine</li>
                <li>resetall: reset python interprete</li>
                <li>about: info about the author</li>
            </ul>
        </div>
    </div>
</body>

</html>