body {
    background-color: #404040;
}
h1#title {
    text-align: center;
    font-size: 3rem;
}
#python {
    background-color: #303030;
    width: 80%;
    margin: auto;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
}
pre {
    background-color: black;
    display: table-cell;
    white-space: pre-wrap;
}
#prefix, #output {
    background-color: black;
}
#pyterprete {
    background-color: black;
    margin: auto;
    width: 75%
}
#interprete {
    width: 94%;
    margin: auto;
    background-color: transparent;
    border: none;
    color: #f8f8f2;
}
#help {
    width: 75%;
    margin: auto;
    background-color: black;
    color: #f8f8f8;
}

