body {
    background-color: #404040;
}
#python {
    background-color: #303030;
    width: 80%;
    margin: auto auto;
}
pre {
    background-color: black;
    display: table-cell;
    white-space: pre-wrap;
}
#prefix {
    background-color: black;
}
#output {
    background-color: black;
}
#pyterprete {
    background-color: black;
    margin: auto auto;
    width: 75%
}
#interprete {
    width: 94%;
    margin: auto auto;
    background-color: transparent;
    border: none;
    color: #f8f8f2;
}
#help {
    width: 75%;
    margin: auto auto;
    background-color: black;
    color: #f8f8f8;
}

